# created by virtualenv automatically
mlopenapp/static
!mlopenapp/static/js
!mlopenapp/static/css
mlopenapp/staticfiles
!mlopenapp/staticfiles/js
!mlopenapp/staticfiles/css
mlopenapp/static/images/runs/
mlopenapp/pipelines/*
!mlopenapp/pipelines/NeuralNetworkFeedForward/alexnet_model.py
!mlopenapp/pipelines/yolo-control.py
!mlopenapp/pipelines/classification-control.py
!mlopenapp/pipelines/yolo-control
!mlopenapp/pipelines/classification-control
mlopenapp/storage
mlopenapp/.idea
mlopenapp/data
mlopenapp/venv/*
static
pgdata
runs/
storage/graphs
yolov5s.pt
